  /* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');
:root{
  --Violet: hsl(257, 40%, 49%);
  --Soft-Magenta: hsl(300, 69%, 71%);
  /* Colors I added */
  --White: hsl(0, 0%, 100%);

  /* Fonts */
  /* Headings */
  --fm-headings: 'Poppins', sans-serif;
  --fm-body: 'Open Sans', sans-serif;
}
/* ---------- Mobiles ---------- */
html{
  font-size: 100%;
}
body{
  font-size: 1rem;
  font-family: var(--fm-body);
  font-weight: 400;
  box-sizing: border-box;
  background-color: var(--Violet);
  background-image: url(../assets/images/bg-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.25em;
}
.container{
  width: 100%;
  box-sizing: border-box;
}
.container__logo{
  width: 40%;
  margin-bottom: 3.25em;
}
.container__illustration{
  width: 100%;
  margin-bottom: 4em;
}
.container__title{
  width: 100%;
  color: var(--White);
  font-size: 1.7rem;
  font-family: var(--fm-headings);
  font-weight: 600;
  line-height: 1.5em;
  text-align: center;
  margin: 0;
}
.container__paragraph{
  width: 100%;
  color: var(--White);
  opacity: .75;
  font-size: 1rem;
  text-align: center;
  line-height: 1.5em;
  margin: 1.5em 0;
}
.container__btn{
  display: block;
  background-color: var(--White);
  width: 65%;
  color: var(--Violet);
  font-family: var(--fm-headings);
  font-size: .75rem;
  text-decoration: none;
  text-align: center;
  padding: 1em 0;
  border-radius: 2em;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
  margin: 0 auto 4em auto;
  cursor: pointer;
}
.container__btn:hover{
  transition: all 0.15s ease-out;
  background-color: var(--Soft-Magenta);
  color: var(--White);
}
.container__socials{
  width: 32.5%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.container__socials__icon{
  color: var(--White);
  width: 2.25em;
  height: 2.25em;
  font-size: 0.75em;
  line-height: 2.25em;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid var(--White);
  border-radius: 50%;
}
.container__socials__icon:hover{
  transition: all 0.15s ease-out;
  color: var(--Soft-Magenta);
  border-color: var(--Soft-Magenta);
}
.footer{
  margin: 1em 0;
}
.footer__attribution {
  font-family: var(--fm-headings);
  font-size: .6em;
  text-align: center;
  color: var(--White);
  margin: 0;
}
.footer__attribution a {
  /* color: hsl(228, 45%, 44%); */
  color: var(--Soft-Magenta);
}
.footer__attribution a:hover{
  transition: all .15s ease;
  color: hsl(300, 51%, 65%);
}
/* ---------- Desktop ---------- */
@media(min-width: 1024px){
  body{
      background-image: url(../assets/images/bg-desktop.svg);
      padding: 2.25em 0;
  }
  .container{
      width: 90%;
      display: grid;
      grid-template-columns: 60% 1fr;
      column-gap: 2em;
  }
  .container__logo{
      width: 30%;
      margin-bottom: 6em;
  }
  .container__illustration{
      margin: 0;
  }
  .container__second-section{
      display: flex;
      flex-direction: column;
      justify-content: center;
  }
  .container__title{
      width: 100%;
      font-size: 2.25rem;
      text-align: left;
      margin-bottom: 1em;
  }
  .container__paragraph{
      text-align: left;
      margin: 0;
      margin-bottom: 1em;
  }
  .container__btn{
      width: 35%;
      padding: 1.25em 0;
      margin: 0;
  }
  .container__socials{
      grid-column-start: 2;
      width: 100%;
      justify-content: end;
      gap: 1em;
  }
}